extends ./_html
block body
    .wrapper
        div
            +userInfo()
            .Auth
                .Auth_g
                    +googleAuth()
                .Auth_v
                    +vkAuth()
                .Auth_f
                    +facebookAuth()
